/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #222;
	background-color: #FaFaFa;
	text-align: center;
	line-height: 1.4em;
}

.container {
	padding: 0;
	margin-top: 40px;
}

h3 {
  margin-top: 30px;
}

.footer {
	margin-top: 40px;
}

.user-stories {
  position: relative;
  text-align: justify;
  max-width: 700px;
  margin: 15px auto;
}
code {
  font-family: monospace;
  padding: 2px;
  color: black;
  background-color: #fff;
}
ol {
	list-style-position: inside;
}
ul {
	list-style-type: none;
}

li {
  margin-bottom: 0.5em;
}
.user-stories li {
  margin-bottom: 1em;
}

a {
	color: #2574A9;
}

form {
  border: solid 1px black;
  border-radius: 5px;
  margin: 10px auto;
  padding: 20px;
  max-width: 600px;
}

label {
  margin-right: 10px;
}

input {
  padding: 5px;
}

input[type=text] {
  width: 220px;
  text-align: center;
}

/********** My custom Styling below **********/

body {
  /*background: #616a72;*/
  background: #000a15;
  /*background: #343a40;*/
  font-family: 'Raleway', sans-serif;
	font-size: 14px;
}

#title h1{
  color: #f8f8f8;
  margin: 4%;
  font-size: 52px;
}

#title h6{
  color: #a076c5;
  margin-bottom: -3.1%;
  font-size: 26px;
  text-shadow: 0px 0px 2px #000;
}

.container {
  max-width: 936px;
  margin: 0 auto;
}

#content {
  color: #ececec;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border: 2px #a076c5 solid;
  border-radius: 15px;  
  background: linear-gradient(to bottom, #465e61, #0b1928);
  /*background: -webkit-linear-gradient(to right, #faaca8, #ddd6f3);  /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to right, #faaca8, #ddd6f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.section {  
  margin: 10px;
  padding: 5px 21px 5px 21.5px;
  border-radius: 5px;
  background: linear-gradient(to right, #faaca8, #ddd6f3);
  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
  box-shadow: inset 0px 0px 25px 1px #000;
}

.section h2 {
  color: #fff;
  padding: 5px;
  background: rgba(255, 255, 255, .1);
  border-radius: 5px;
  text-shadow: 0px 0px 3px #000;
}

.user-stories {
  position: relative;
  text-align: justify;
  max-width: 818px;
  margin: 10px 10px 0px 10px;
  padding-left: 10px;
}

form {
  border: 2px solid #a076c5;
  background: rgba(255, 255, 255, .1);
  border-radius: 5px;
  margin: 10px auto;
  margin-bottom: 15px;
  padding: 20px;
  max-width: 600px;
}

code {
  color: #ab00ff;
  border: 1px solid #a076c5;
  border-radius: 5px;
  padding: 0px 3px 0px 3px;
  background-color: #ececec;
  box-shadow: 1px 1px 5px 1px #000;
}

#url_input {
  padding: 4.5px;
  color: #f4f9ff;
  background-color: #0b1928;
  border-radius: 5px 0px 0px 5px;
  border-right: none;
  outline: none;
}

#url_input:active, #url_input:focus {
  border: 2px solid #a076c5;
  border-right: none;
  color: #0b1928;
  background-color: #fff;  
  box-shadow: 0px 0px 0px 3px #aab7c4;
  transition: .2s;
  outline: none;
}

#submit {
  font-weight: bold;
  margin: 0 auto;
  margin-left: -4px;  
  border-radius: 0px 5px 5px 0px;
  font-size: 14px;
  padding: 4px 10px 4px 10px;
  border: 2px solid #c98cff;
  color: #0b1928;
  background-color: #f4f9ff;
  transition: .2s;
}

#submit:hover {
  color: #f4f9ff;
  border: 2px solid #c98cff;
  background-color: #0b1928;
  transition: .2s;  
}

#submit:active, #submit:focus {
  border: 2px solid #c98cff;
  box-shadow: 0px 0px 0px 3px #aab7c4;
  transition: .2s;
  outline: none;
}

button {
  cursor: pointer;
  padding: 0px;
  margin-bottom: 10px;
  font-size: 14px;
  border-width: 0px;
  border-bottom: 2px #a076c5 solid;
  background: transparent;
  transition: .15s;
}

button:hover {
  transition: .15s;
  border-bottom: 2px #fff solid;
}

button a {  
  color: #fff;
  text-decoration: none;
  transition: .15s;
}

button a:hover {
  color: #a076c5;
  transition: .15s;
}

#footer {
  max-width: 936px;
  margin: 0 auto;
  margin-top: 20px;  
  border-top: 2px #a076c5 solid;
  border-radius: 15px;
  background: linear-gradient(to bottom, #0b1928, #000a15);
}
 
#footer h5 {
  margin-top: 0;
  font-size: 12px;
  color: #828c96;
}
#footer a {
  color: #a076c5;
  transition: 0.2s;
  text-decoration: none;
}
#footer a:hover {
  color: #c98cff;
  transition: 0.2s;
}

@media (max-width: 1280px) {
  body {
    transform: scale(.85, .85);
  }
 
}

@media (max-width: 960px) {
  body {
    font-size: 10px;
  }
  #title {
    
    }
    h1 {
      font-size: 2em;
    }
  }
